{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Website - Estacionamento</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-2">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo Estacionamento 24h" width="100px">
        </div>
        <div class="col-10">
            <h1>Estacionamento 24 Horas</h1>
            <span>Seu carro mais seguro!</span>
        </div>
    </div>

    {%include 'website/menu.html' %}

    {% block main %}

    {% endblock %}

    {%include 'website/footer.html' %}
<div/>
</body>
</html>"