{% extends 'website/base.html' %}
{% load static %}

{% block main %}

<div class="row row-space">
    <div class="col-6">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
        enean aliquam molestie leo, vitae iaculis nisl.Per aumento de cachacis, eu reclamis.
        Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis,
        mais bolis eu num gostis.
    </div>
    <div class="col-6">
        Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Pra lá , depois
        divoltis         porris, paradis.Mauris nec dolor in eros commodo tempor. Aenean aliquam
        molestie leo, vitae iaculis nisl.Praesent vel viverra nisi. Mauris aliquet nunc non turpis
        scelerisque, eget.
    </div>
</div>

<div class="row row-space">
    <div class="col-4">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
        enean aliquam molestie leo, vitae iaculis nisl.Per aumento de cachacis, eu reclamis.
        Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis,
        mais bolis eu num gostis.
    </div>
    <div class="col-4">
         <img src="{% static 'img/estacionamento.jpg' %}" alt="Estacionamento" width="100%">
    </div>
    <div class="col-4">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
        enean aliquam molestie leo, vitae iaculis nisl.Per aumento de cachacis, eu reclamis.
        Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis,
        mais bolis eu num gostis.
    </div>
</div>

<div class="row row-space">
    <div class="col-6">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
        enean aliquam molestie leo, vitae iaculis nisl.Per aumento de cachacis, eu reclamis.
        Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis,
        mais bolis eu num gostis.
    </div>
    <div class="col-6">
        Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Pra lá , depois
        divoltis         porris, paradis.Mauris nec dolor in eros commodo tempor. Aenean aliquam
        molestie leo, vitae iaculis nisl.Praesent vel viverra nisi. Mauris aliquet nunc non turpis
        scelerisque, eget.
    </div>
</div>

{% endblock %}
