{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <h2>Movimentos mensais</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">

            <form action="{% url 'core_movimentomensal_novo' %}" method="POST">
                {% csrf_token %}

                {{form|bootstrap}}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>

        </div>

        <div class="col-sm-6">

<!--            <lu>-->
<!--                {% for movimentomensal in movimentosmensais %}-->
<!--                <li>-->
<!--                    <a href="{% url 'core_movimentomensal_update' movimentomensal.id %}">{{movimentomensal.mensalista}} ({{movimentomensal.dt_pgto}})</a>-->
<!--                </li>-->
<!--                {% endfor%}-->
<!--            </lu>-->

            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Mensalista</th>
                  <th scope="col">Data de pagamento</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for movimentomensal in movimentosmensais %}
                <tr>
                  <th scope="row">{{movimentomensal.id}}</th>
                  <td><a href="{% url 'core_movimentomensal_update' movimentomensal.id %}">{{movimentomensal.mensalista}}</a></td>
                  <td>{{movimentomensal.dt_pgto}}</td>
                  <td>{{movimentomensal.total}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

        </div>

    </div>


{% endblock %}