{% extends 'base.html' %}

{% block main %}

    <h2>Movimentos mensais</h2>
    <lu>
        {% for movimentomensal in movimentosmensais %}
        <li>
            <a href="{% url 'core_movimentomensal_update' movimentomensal.id %}">{{movimentomensal.mensalista}} ({{movimentomensal.dt_pgto}})</a>
        </li>
        {% endfor%}
    </lu>

    <form action="{% url 'core_movimentomensal_novo' %}" method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <button type="submit">Cadastrar</button>
    </form>


{% endblock %}