    <h2>Movimentos Rotativos</h2>
    <lu>
        {% for movimentorotativo in movimentosrotativos %}
        <li>
             <a href="{% url 'core_movimentorotativo_update' movimentorotativo.id %}">{{movimentorotativo.veiculo.placa}} ({{movimentorotativo.checkin}})</a>
        </li>
        {% endfor%}
    </lu>


    <form action="{% url 'core_movimentorotativo_novo' %}" method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <button type="submit">Cadastrar</button>
    </form>
