{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Estacionamento</title>
</head>
<body>
<div class="container">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'core_home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Cadastros</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
          <li><a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a></li>
          <li><a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movimentos</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'core_lista_movimentosrotativos' %}">Rotativos</a></li>
          <li><a class="dropdown-item" href="{% url 'core_lista_movimentosmensais' %}">Mensais</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>

    {% block main %}

    {% endblock %}

</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>